/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
Solid-Principles.md
yarn-error.log
slots.md
learning.md
Solid-Principles.md
formulas.md
/yarn-offline-cache
schema.txt